<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="pt-br">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styleextra.css">
    <title>Extra</title>
</head>
<body>
    <a href="/admin">Voltar</a>
    <section class="product">
        <h2 class="product-category">best selling</h2>
        <button class="pre-btn"><img src="../assets/images/arrow-rig.png" alt=""></button>
        <button class="nxt-btn"><img src="../assets/images/arrow-rig.png" alt=""></button>
    <div class="product-container">
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="../assets/images/aleato1.jpg" class="product-thumb" alt="">
                <button class="card-btn">add to wishlist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-description">a short line about the product</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="../assets/images/aleato2.jpg" class="product-thumb" alt="">
                <button class="card-btn">add to wishlist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-description">a short line about the product</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="../assets/images/aleato3.jpg" class="product-thumb" alt="">
                <button class="card-btn">add to wishlist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-description">a short line about the product</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="../assets/images/aleato4.jpg" class="product-thumb" alt="">
                <button class="card-btn">add to wishlist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-description">a short line about the product</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="../assets/images/aleato5.jpg" class="product-thumb" alt="">
                <button class="card-btn">add to wishlist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-description">a short line about the product</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="../assets/images/aleato6.jpg" class="product-thumb" alt="">
                <button class="card-btn">add to wishlist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-description">a short line about the product</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="../assets/images/aleato7.jpg" class="product-thumb" alt="">
                <button class="card-btn">add to wishlist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-description">a short line about the product</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
    </div>
    </section>

    <script src="../extrascript.js"></script>
</body>
</html>