html{
  height:  100%;
}

body{
  background-size: 100%;
}

a{
    color: rgb(58, 206, 13);
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
}

.night{
    height: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
}

.back2{
    height: 100%;
    background-image: url(../images/img2.jpg);
    color: #e62786;
}

.back3{
    height: 100%;
    background-image: url(../images/img1.jpg);
    color: #00ffff;
}

div{
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.grupo button{
    border: 0.1rem solid #000000;
    background: none;
    margin: 5px;
    color: #00ccff;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.grupo button:hover{
    background: #ffffff;
    color: #0a1128;
}